***REMOVED*** Gradle
.gradle/
build/
app/build/
androidApp/

***REMOVED*** IDE & tooling
.idea/
*.iml
.DS_Store

***REMOVED*** Android/NDK intermediates
.cxx/
local.properties
captures/

***REMOVED*** Signing / keys (none should be committed)
*.keystore
*.jks

***REMOVED*** log files
crash.log
tombstone_23
/androidApp/
/.gradle-local/
