name: golden-dataset-validate

on:
  pull_request:
  workflow_dispatch:

jobs:
  validate-golden-dataset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Validate dataset
        run: ./scripts/golden-tests/validate-dataset.sh
