name: Gradle Clean Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"
      - name: Gradle clean build
        run: ./gradlew clean build -x ktlintCheck -x ktlintFormat -x :androidApp:ktlintMainSourceSetCheck -x iosSimulatorArm64Test
